<!DOCTYPE html>

<html>

<head>

    <title>CloudScaleX</title>

    <link rel="stylesheet"

href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>CloudScaleX</h1>

<p class="subtitle">

Production Ready AWS Infrastructure Demo

</p>

<div class="status">

Application Healthy

</div>

<div class="grid">

<div class="card">

<h3>Hostname</h3>

<p>{{hostname}}</p>

</div>

<div class="card">

<h3>Private IP</h3>

<p>{{private_ip}}</p>

</div>

<div class="card">

<h3>CPU Usage</h3>

<p>{{cpu}} %</p>

</div>

<div class="card">

<h3>Memory Usage</h3>

<p>{{memory}} %</p>

</div>

<div class="card">

<h3>Current Time</h3>

<p>{{current_time}}</p>

</div>

<div class="card">

<h3>Refresh Count</h3>

<p>{{refresh}}</p>

</div>

</div>

<footer>

Docker • Flask • AWS • DevOps

</footer>

</div>

</body>

</html>